@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

:root {
  --primaryColor: #fff;
  --contrastColor: #F1EB9C; /* f72fd9 - you will be missed */
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  color: var(--primaryColor);
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
canvas {
  position: fixed;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 20px;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 20px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}
ol, ul {
  margin: 0 0 10px 20px;
}
ol li {
  padding-left: 5px;
}
p {
  /* text-align: justify; */
  margin: 0 0 20px;
}
blockquote {
  border-left: 3px solid var(--contrastColor);
  position: relative;
  font-size: 1.4em;
  font-style: italic;
  margin: 0 0 10px 50px;
  display: block;
  padding: 15px 50px;
}
blockquote::before {
  content: "\201C";
  color: var(--contrastColor);
  font-size: 3em;
  position: absolute;
  left: 10px;
  top: 20px;
}
a {
  color: var(--contrastColor);
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--contrastColor);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
img {
  max-width: 100%;
}
button, .button {
  background: #eee;
  border-radius: 3px;
  border: 1px solid #e2e0e0;
  color: #000;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 8px 10px;
}
button:hover, .button:hover {
  background: #e2dfdf;
}
input {
  background: var(--primaryColor);
  border-radius: 3px;
  border: 1px solid #e2e0e0;
  font-family: inherit;
  font-size: inherit;
  height: 20px;
  line-height: 20px;
  padding: 8px 10px;
}
textarea {
  background: var(--primaryColor);
  border-radius: 3px;
  border: 1px solid #e2e0e0;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.dropdown {
  position: relative;
}
.dropdown.inline {
  display: inline-block;
}
.dropdown .options {
  position: absolute;
  z-index: 1;
}
.dropdown .options button {
  width: 75%;
}
.input-group {
  margin: 0 0 10px;
}
.input-group p {
  display: inline-block;
  width: 70%;
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.input-group p.did-you-mean {
  font-size: 12px;
  font-style: italic;
  margin: 0;
  margin-left: 22%;
}
.input-group p button {
  margin-right: 5px;
}
.input-group label {
  display: inline-block;
  font-weight: 700;
  width: 21%;
  padding: 0 2%;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  padding: 10px 0;
}
.input-group input {
  display: inline-block;
  width: 70%;
}
.input-group input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin: 10px 0;
}
.input-group progress {
  margin: 10px 0;
  width: 40%;
  height: 20px;
}
.input-group textarea {
  display: inline-block;
  width: 70%;
}
.input-group .dropdown {
  width: 30%;
}
.input-group .dropdown > button {
  width: 100%;
}
.input-group .input-container {
  width: 73%;
  display: inline-block;
}
.input-group .input-container table {
  margin: 0;
}
.responsive-placeholder {
  display: none;
}
table {
  border: 1px solid #e2e0e0;
  border-collapse: separate;
  border-radius: 3px;
  border-spacing: 0;
  margin: 20px 0;
  width: 100%;
  color: #000;
}
table th {
  padding: 10px;
  background: rgba(238, 238, 238, 0.9);
  border-left: 1px solid #e2e0e0;
  text-align: left;
}
table th:first-child {
  border-left: 0;
}
table td {
  background: rgba(255, 255, 255, 0.65);
  padding: 10px;
  border-top: 1px solid #e2e0e0;
  border-left: 1px solid #e2e0e0;
}
table td:first-child {
  border-left: 0;
}
table td.control {
  white-space: nowrap;
}
table td.control a:first-child {
  margin-right: 5px;
}
.container {
  box-sizing: border-box;
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 15px 0;
  width: 100%;
}
.navigation {
  min-height: 80px;
  width: 20%;
  vertical-align: top;
  display: inline-block;
  margin-right: 5%;
}
.navigation:after {
  content: '';
  display: block;
  clear: both;
}
.navigation a.home-link {
  position: fixed;
  font-size: 36px;
}
.navigation nav {
  position: fixed;
  top: 120px;
  height: 40px;
  margin: 50px 0;
}
.navigation nav:after {
  content: '';
  display: block;
  clear: both;
}
.navigation nav ul {
  display: block;
  text-align: right;
  list-style: none;
}
.navigation nav ul li {
  margin: 0 0 40px;
  position: relative;
  white-space: nowrap;
}
.navigation nav ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 36px;
  border-radius: 5px;
}
.navigation nav ul.main-nav li a span:after {
  content: '.';
  color: var(--primaryColor);
}
.navigation nav ul li ul {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
}
.navigation nav ul li:hover ul {
  display: block;
}
.navigation nav .hamburger {
  display: none;
  margin: 15px;
}
.navigation nav .hamburger div {
  width: 20px;
  height: 3px;
  margin: 0 0 3px;
  background: var(--contrastColor);
  opacity: 1;
  transition: 300ms ease-in-out;
}
.navigation nav.open .hamburger div {
  opacity: 0;
}
.navigation nav.open .hamburger div:first-child {
  opacity: 1;
  transform: translate3d(0, 6px, 0) rotate(45deg);
}
.navigation nav.open .hamburger div:last-child {
  opacity: 1;
  transform: translate3d(0, -6px, 0) rotate(-45deg);
}
.content {
  width: 75%;
  vertical-align: top;
  display: inline-block;
}
.content a {
  background-size: 0 2px;
  background-position: 0 100%;
  line-height: 2em;
  display: inline-block;
  background-repeat: no-repeat;
  text-decoration: none;
  background-image: linear-gradient(currentcolor,currentcolor);
  transition: background-size .3s ease-in-out;
}
.content a:hover {
  background-size: 100% 2px;
}
.social {
  margin: 80px 0;
}
.social svg {
  width: 28px !important;
  height: 28px !important;
  margin: 10px;
}
.tabs {
  margin-left: 0;
  border-bottom: 1px solid #eee;
  list-style: none;
}
.tabs li {
  display: inline-block;
}
.tabs li.active {
  background: #eee;
  border: 1px solid #eee;
  border-bottom: 0;
  border-radius: 2px;
}
.tabs li a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
}
.welcome {
  border-left: 5px solid var(--contrastColor);
  padding: 20px 0 20px 50px;
  margin: 50px 50px 0;
}
.welcome h2 {
  margin: 0 0 20px;
}
.page-header {
  width: 100%;
}
.page-header .page-info {
  float: left;
}
.page-header .page-controls {
  float: right;
}
.page-header .page-controls button {
  margin-left: 10px;
}
.page-header .page-controls .inline {
  display: inline-block;
}
.page-header:after {
  content: '';
  display: block;
  clear: both;
}
.blog-item img {
  width: 100%;
  min-height: 180px;
  background: linear-gradient(-45deg, #f8f8ff, #cac9cd, #9b9a9c, #6d6a6a);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}
.add-phrase:after {
  content: '';
  display: block;
  clear: both;
}
.add-phrase form {
  width: 70%;
  float: left;
}
.add-phrase .tooltip {
  width: 20%;
  float: right;
}
.course-nav {
  margin: 0 0 20px;
}
.course-nav div {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.table-container {
  overflow-x: auto;
}
.page .blog-post {
  margin-bottom: 50px;
}
.page .blog-post h2 {
  margin: 0 0 10px;
}
.page #chartdiv {
  height: 430px;
  margin-bottom: 20px;
}
.page .recharts-container {
  color: #000;
}
.page .countries-list {
  margin: 0 -1%;
}
.page .countries-list::after {
  content: '';
  display: block;
  clear: both;
}
.page .countries-list a {
  display: block;
}
.page .countries-list .country {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  border: 1px solid #e2e0e0;
  box-sizing: border-box;
  float: left;
  margin: 20px 1% 0;
  width: 23%;
}
.page .countries-list .country h3 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.page .countries-list .country small {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page .countries-list .country p {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page .countries-list a .country {
  color: var(--primaryColor);
}
.page .countries-list .country .photo {
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.page .countries-list .country .content {
  padding: 10px;
}
.page .country-cover {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.practice, .practice p {
  text-align: center;
}
.practice .options {
  margin: 20px 30%;
}
.practice .options div {
  background: #ffffff85;
  border: 1px solid #eee;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 250ms linear;
}
.practice .options.result div {
  cursor: default;
}
.practice .options div.correct {
  background: #00cc0020;
  border: 1px solid #00cc00;
}
.practice .options div.incorrect {
  background: #cc000020;
  border: 1px solid #cc0000;
}
.search-group {
  position: relative;
  display: inline-block;
}
.search-group svg {
  position: absolute;
  right: 10px;
  opacity: 0.5;
  top: 13px;
}
.user-status {
  position: fixed;
  right: 100px;
  top: 100px;
  transform: scale(2);
}
.clear {
  content: '';
  display: block;
  clear: both;
}
.nowrap {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pager {
  text-align: center;
}
.pager ul {
  border: 1px solid #e2e0e0;
  border-radius: 3px;
  display: inline-block;
  list-style: none;
  margin: 0;
}
.pager ul li {
  display: inline-block;
  border-left: 1px solid #e2e0e0;
}
.pager ul li:first-child {
  border: 0;
}
.pager ul li button {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 0;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  border: 0;
  padding: 0;
}
.pager ul li.active button {
  background: #eee;
}
.pager ul li button:hover {
  background: #eee;
}
.map {
  width: 100%;
  height: 200px;
}
.spinner {
  width: 40px;
  height: 40px;
  background-color: var(--contrastColor);
  margin: 100px auto;
  animation: loader-rotate 1.2s infinite ease-in-out;
}
.powered-by {
  width: 100%;
  text-align: center;
}
.powered-by ul {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.powered-by ul li {
  display: inline-block;
  margin: 0 5px;
}
.powered-by ul li svg {
  height: 20px;
}
.powered-by ul li img {
  width: 30px;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: 300ms ease-in-out;
}
.powered-by ul li img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}
@keyframes loader-rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 1408px) {
  .navigation nav {
    top: 80px;
  }
  .navigation nav ul li {
    margin: 0 0 20px;
  }
  .welcome {
    margin: 0 50px;
  }
  .social {
    margin: 40px 0;
  }
}

@media (max-width: 768px) {
  .navigation a.home-link h1 {
    display: none;
  }
  .navigation nav {
    top: 120px;
    margin: 0 0 50px;
  }
  .navigation nav ul {
    margin: 0;
    text-align: left;
  }
  .navigation nav ul li a {
    padding: 0;
  }
  .navigation nav ul li a span {
    display: none;
  }
  .navigation nav .social {
    margin: 30px 0;
  }
  .navigation nav .social a {
    display: block;
  }
  .navigation nav .powered-by {
    margin: 50px 0 0;
    bottom: auto;
    position: relative;
  }
  .navigation nav .powered-by ul li {
    display: block;
    margin: 0 0 10px;
    text-align: center;
  }
  .page-header .page-controls button {
    margin: 10px 10px 0 0;
  }
  .welcome {
    margin: 0;
    border: 0;
    padding: 0;
  }
  .page #chartdiv {
    height: 200px;
  }
  .page .countries-list .country {
    width: 98%;
  }
  .practice .options {
    margin: 20px 5%;
  }
  .responsive-placeholder {
    display: block;
  }
}
